.action-btn {
  width: 25px;
  height: 25px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 3;
}

.spinner-portal {
  position: fixed;
  top: 50%;
  right: 50%;
  z-index: 4;
}

.modal-portal {
  position: fixed;
  width: 500px;
  max-width: 90%;
  height: 400px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 5;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 285px;
}
